.conta{
    background: #FEAC5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    max-width: 300px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
    margin-top: 2rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}